body {
	max-width: 600px;
	margin: auto;
	font-family: sans-serif;
}
header,
nav,
main,
footer {
	margin-bottom: 1em;
}
header h1 {
	margin: 0;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	margin-bottom: 0.5em;
}
